<?xml version="1.0" encoding="UTF-8"?>
<!-- James writes to stdout, which the Gradle test server service redirects to build/testserver/james/james.log. -->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.apache.james" level="INFO"/>
</configuration>
